<form novalidate [formGroup]="user" (ngSubmit)="OnSubmit()">
  <label>
    <span>Full name</span>
    <input
      type="text"
      name="name"
      placeholder="Your full name" formControlName="name">
  </label>
  <div formGroupName="account">
    <label>
      <span>Email address</span>
      <input
        type="email"
        name="email"
        placeholder="Your email address" formControlName="email">
    </label>
    <label>
      <span> address</span>
      <input
        type="text"
        name="address"
        placeholder="your address" formControlName="address" >
    </label>
  </div>
  <div formArrayName ="items"  *ngFor ="let item of user.get('items').controls;let i = index;" >
    <div [formGroupName] ="i">
        <input formControlName="id1" #id1 placeholder="Item name" (blur)="onblurid1(i,id1.value)">
        <input formControlName="id2" #id2 placeholder="Item description" (blur)="onblurid2(i,id2.value)">
        <input formControlName="result" placeholder="Item price">
        <button type="button" (click)="AddRow()" >Add Row</button>
        <button type="button" (click)="DeleteRow(i)">Delete Row</button>
    </div>
  </div>
  <button type="submit">Sign up</button>
</form>
{{user.value|json}}